---
- name: "Wipe application"
  when: web_app_wipe | bool
  become: true
  tags:
    - web_app_wipe
  block:
    - name: "[WIPE] Announce wipe operation"
      ansible.builtin.debug:
        msg: "WARNING - Removing {{ app_name }} from {{ compose_project_dir }}"

    - name: "[WIPE] Stop and remove containers"
      ansible.builtin.command: >
        docker compose -f {{ compose_project_dir }}/docker-compose.yml down --remove-orphans
      changed_when: true
      failed_when: false

    - name: "[WIPE] Remove application directory"
      ansible.builtin.file:
        path: "{{ compose_project_dir }}"
        state: absent

    - name: "[WIPE] Remove Docker image"
      ansible.builtin.command: "docker rmi {{ docker_image }}:{{ docker_tag }}"
      changed_when: true
      failed_when: false

    - name: "[WIPE] Confirm completion"
      ansible.builtin.debug:
        msg: "{{ app_name }} has been wiped from {{ compose_project_dir }}"
