---
common_packages:
  - python3-pip
  - curl
  - git
  - vim
  - htop
  - wget
  - unzip
  - ca-certificates
  - gnupg
  - lsb-release
  - apt-transport-https

common_log_path: /tmp/ansible_common_complete.log
